.webos-dk-widget-net-image .x-form-item-label
{
  line-height : 35px;
  font-size : 14px;
}
.webos-dk-widget-care .x-form-display-field
{
  font-size : 16px;
  line-height : 35px;
}
.webos-dk-widget-local-image .sencha-ext-view-imageview-wrapper.x-item-selected
{
  border : 1px solid #3d71b8;
  background-color : #efefef;
}
.webos-dk-widget-local-image .sencha-ext-view-imageview-wrapper
{
  border : 1px solid #ffffff;
}
.webos-dk-widget-local-image .sencha-ext-view-imageview-text
{
  display: none;
}