.webos-module-selector
{

}
.webos-module-selector-header
{
  background: #00a0e9;
  color :#ffffff;
  text-align: center;
  height:40px;
  line-height: 40px;
  cursor: pointer;
}
.webos-module-selector-item
{
  cursor: pointer;
  background:  url(image-path("OsWidget/module-selector-item-bg", "png")) repeat;
  color:white;
}
.webos-module-selector-item-text
{
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.webos-module-selector-item-text:hover
{
  background: #00a0e9;
}